.nav {

    list-style: none;

    padding-left: 0;

    width: 50%;

    margin: auto;

    text-align: center;
}

.nav>li {

    border-style: ridge;

    border-radius: 10px;

    display: inline-block;

    background-color: red;

}

.nav>li>a {

    text-decoration: none;
    
    color: white;

}

